astroid==
autopep8==
backports.functools-lru-cache==
bottle
certifi==
chardet==
click==
colorama==
configparser==
docopt==
dominate==
enum34==
Flask==
Flask-Bootstrap==
Flask-Cors==
Flask-Login==
Flask-MySQL==
flask-paginate==
Flask-SQLAlchemy==
Flask-WTF==
futures==
idna==
isort==
itsdangerous==
Jinja2==
lazy-object-proxy==
MarkupSafe==
mccabe==
mysql-connector-python==
MySQL-python==
paginate==
paginate-sqlalchemy==
pipreqs==
psycopg2==
pycodestyle==
pylint==
PyMySQL==
pypng==
PyQRCode==
python-xlib==
requests==
singledispatch==
six==
SQLAlchemy==
urllib3==
visitor==
Werkzeug==
wrapt==
WTForms==
yarg==
