body, html {
    height: 100%;
    margin: 0;
    background: #000;
}

.bg {
    /* The image used */
    background-image: url("../img/titan_dev-02.png");
    opacity: 0.5;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    bottom: 500px; 
}

.form-control{
    text-align: center;
    padding: 10px;
}  